<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Booklets 👩🏻‍⚕️</title>
    <meta name="description" content="<%= langParsed.head_description %>" />
    <meta property="og:image" content="/psicologa/assets/pic.png">
    <meta property="og:title" content="<%= langParsed.head_og_title %>">
    <meta property="og:description" content="<%= langParsed.head_og_desc %>">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/psicologa/assets/styles.css">
    <link rel="stylesheet" href="/psicologa/assets/reset.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/psicologa/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/psicologa/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/psicologa/favicon-16x16.png">
    <link rel="manifest" href="/psicologa/site.webmanifest">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- <link rel="alternate" hreflang="es" href="/es" />
  <link rel="alternate" hreflang="en" href="/en" /> -->

</head>

<body>
    <h1 style="display: none;">Free booklets</h1>
    <header>
        <div id="logo">
            <img src="/psicologa/assets/logo.png" alt="Psicologa Daniela" draggable="false"></div>
            <!-- <div class="hero">
                <div class="content">
                <h1>Example Hero!</h1>
                <p>Example Hero!</p>
                </div>
                </div> -->
                
        <div id="wave" style="display: flex;background-image: url('/psicologa/assets/wave(1).svg');
        background-position: 80% 100%;
        background-repeat: no-repeat;
        background-size: auto 420px;
        height: 100%;
        overflow: hidden;
        position: relative;">
        
       
        </div>
        
    </header>
    <main id="main">
        <a href="/psicologa/index.html"><div class="back">
            <svg width="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>
            <div>Back</div>
        </div>
        </a>
     
     <div id="freeStuff" class="borderPlusRadiusHeading">Free booklets</div>

        <!-- <div class="acc">
            <a href="/psicologa/free-booklets.html"> <div id="freeStuff" class="borderPlusRadius">Free booklets</div></a>
            <a href="/psicologa/about-me.html"> <div id="about" class="borderPlusRadius">About me</div></a> 
            <a href="/psicologa/mission.html">  <div id="mission" class="borderPlusRadius">Mission</div></a> 
             <a href="mailto:psicologadaniela@gmail.com?subject=Book an appointment" rel="noopener" class="borderPlusRadius">Book an
                 appointment</a>
         </div> -->
         <div class="content">

<div class="desc">Here comes a description. Here comes a description . Here comes a description . Here comes a description </div>
<div id="freebies">
    <a href="/psicologa/assets/TEST.pdf" download="File1.pdf" title="Download">

    <div class="divContainer">
        <img src="/psicologa/assets/300x300.svg" alt="">
    <img class="downloadHover" src="/psicologa/assets/download.svg" alt="" width="70">
</div>
<div class="textAlignCenter">Title 1</div>
</a>
<a href="/psicologa/assets/TEST.pdf" download="File2.pdf" title="Download">
<div class="divContainer">
    <img src="/psicologa/assets/300x300.svg" alt="">
<img class="downloadHover" src="/psicologa/assets/download.svg" alt="" width="70">
</div>
<div class="textAlignCenter">Title 2</div>
</a>
<a href="/psicologa/assets/TEST.pdf" download="File3.pdf" title="Download">
<div class="divContainer">
    <img src="/psicologa/assets/300x300.svg" alt="">
<img class="downloadHover" src="/psicologa/assets/download.svg" alt="" width="70">
</div>
<div class="textAlignCenter">Title 3</div>
</a>
</div>


         </div>
        <div id="social">
           
            <a href="https://www.instagram.com/psicologadanielasofia/" target="_blank" rel="noopener"><img src="/psicologa/assets/insta.webp"
                    alt="Follow on instagram" draggable="false"></a>
                    <a href=" https://www.linkedin.com/in/daniela-ramon-zavala/" target="_blank" rel="noopener"><img src="/psicologa/assets/linkedin.webp" alt="Follow on linkedin" draggable="false"></a>
                <a href="tel:+51920859302" rel="noopener"><img src="/psicologa/assets/telephone.webp" alt="Call" draggable="false"></a>
                <a href="mailto:psicologadaniela@gmail.com?subject=Contact" rel="noopener"><img src="/psicologa/assets/email.webp"
                        alt="Write email" draggable="false"></a>
        </div>

        <div id="copyright"><img src="/psicologa/assets/copyright.png" alt="copyright" style="width: 450px;" draggable="false"></div>

    </main>

    <script src="/psicologa/assets/script.js"></script>
</body>

</html>