<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicologa Daniela Sofia</title>
    <meta name="description"
    content="<%= langParsed.head_description %>" />
  <meta property="og:image" content="/assets/pic.png">
  <meta property="og:title" content="<%= langParsed.head_og_title %>">
  <meta property="og:description"
    content="<%= langParsed.head_og_desc %>">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <!-- <link rel="alternate" hreflang="es" href="/es" />
  <link rel="alternate" hreflang="en" href="/en" /> -->

</head>
<body>
    
    <script src="/assets/script.js"></script>
</body>
</html>