<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicologa Daniela Sofia 👩🏻‍⚕️</title>
    <meta name="description" content="<%= langParsed.head_description %>" />
    <meta property="og:image" content="/psicologa/assets/pic.png">
    <meta property="og:title" content="<%= langParsed.head_og_title %>">
    <meta property="og:description" content="<%= langParsed.head_og_desc %>">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="/psicologa/assets/styles.css">
    <link rel="stylesheet" href="/psicologa/assets/reset.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/psicologa/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/psicologa/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/psicologa/favicon-16x16.png">
    <link rel="manifest" href="/psicologa/site.webmanifest">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- <link rel="alternate" hreflang="es" href="/es" />
  <link rel="alternate" hreflang="en" href="/en" /> -->

</head>

<body>
    <h1 style="display: none;">Psychologist Therapy Consulting</h1>
    <header>
        <div id="logo">
            <img src="/psicologa/assets/logo.png" alt="Psicologa Daniela" draggable="false"></div>
            <!-- <div class="hero">
                <div class="content">
                <h1>Example Hero!</h1>
                <p>Example Hero!</p>
                </div>
                </div> -->
                
        <div id="wave" style="display: flex;background-image: url('/psicologa/assets/wave(1).svg');
        background-position: 80% 100%;
        background-repeat: no-repeat;
        background-size: auto 420px;
        height: 100%;
        overflow: hidden;
        position: relative;">
            <div style="width: 50%;"></div>
            <div id="picture">
                <img src="/psicologa/assets/mausos.jpg" alt="Daniela Sofia" draggable="false">
            </div>
        </div>
        
    </header>
    <main>
        <div class="acc">
            <div id="freeStuff" class="borderPlusRadius">Free booklets</div>
            <div id="about" class="borderPlusRadius">About me</div>
            <div id="mission" class="borderPlusRadius">Mission</div>
            <a href="mailto:psicologadaniela@gmail.com?subject=Book an appointment" rel="noopener" class="borderPlusRadius">Book an
                appointment</a>
        </div>

        <div id="social">
           
            <a href="https://www.instagram.com/psicologadanielasofia/" target="_blank" rel="noopener"><img src="/psicologa/assets/insta.webp"
                    alt="Follow on instagram" draggable="false"></a>
                    <a href=" https://www.linkedin.com/in/daniela-ramon-zavala/" target="_blank" rel="noopener"><img src="/psicologa/assets/linkedin.webp" alt="Follow on linkedin" draggable="false"></a>
                <a href="tel:+51920859302" rel="noopener"><img src="/psicologa/assets/telephone.webp" alt="Call" draggable="false"></a>
                <a href="mailto:psicologadaniela@gmail.com?subject=Contact" rel="noopener"><img src="/psicologa/assets/email.webp"
                        alt="Write email" draggable="false"></a>
        </div>

        <div id="copyright"><img src="/psicologa/assets/copyright.png" alt="copyright" style="width: 450px;" draggable="false"></div>

    </main>

    <script src="/psicologa/assets/script.js"></script>
</body>

</html>