body {
    padding: 1rem 10%;
    font-family: 'Poppins', sans-serif;
    /* background-color: #D5F1FF; */
}


#logo img {
    width: 300px;
}

#logo {
    padding: 1rem 10%;
}

#picture {
    /* width: 40%; */
    /* clip-path: polygon(30% 0%, 82% 3%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    height: 90vh; */
}

#picture img {
    /* clip-path: polygon(30% 0%, 82% 3%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
    height: 77vh;
    clip-path: ellipse(50% 50% at 50% 50%);
}

main {
    background-color: #D5F1FF;
    padding: 2rem;
}

.acc {
    padding: 2rem;
}

.borderPlusRadius {
    border: solid black 2px;
    border-radius: 50px;
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.8rem auto;
    height: 50px;
    line-height: 50px;
    display: block;
}

#social img {
    height: 50px;
    cursor: pointer;
}

#social {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

.borderPlusRadius:hover {
    background-color: aqua;
    transition: 0.5s;
}

#copyright {
    width: 450px;
    margin: 0 auto;
    padding-top: 1rem;
}

.hero {
    display: block;
    box-sizing: border-box;
    height: 500px;
    background-color: #ffffff;
    clip-path: ellipse(177% 100% at -46.52% 0%);
}

/* Responsive */
@media (max-width: 800px) {
    #copyright img {
        width: 250px!important;
    }
    .borderPlusRadius{
        width: 100%;
    
    }
    #social{
        width: 100%;
    }
    #picture img {

        height: 20vh;

    }
    #wave {
        background-position: inherit!important;
    }
}

a:visited { outline: none; }